
<footer class="footer">
    <div class="footer-box"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4"><img src="../assets/images/logo.svg" alt="logo"></div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <ul>
                            <li>似顏繪客製化禮品店</li>
                            <li><a href="#">台北市中山區兔子路88號</a></li>
                            <li><a href="tel:+">02-2653421</a></li>
                            <li><a href="mailto:mango.artwork630@gmail.com">mango.artwork630@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-4">
                        <ul>
                            <li>產品訂購</li>
                            <li><a href="#">客製似顏繪</a></li>
                            <li><a href="#">訂製商品</a></li>
                            <li><a href="#">團訂募集</a></li>
                        </ul>

                    </div>
                    <div class="col-12 col-lg-4">
                        <ul>
                            <li>認識我們</li>
                            <li><a href="#">品牌故事</a></li>
                            <li><a href="#">作品畫廊</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 ms-auto declaration">
                <div class="contact">
                    <span>聯絡方式</span>
                    <a href="#"><img src="./../assets/images/ic-fb.svg" alt=""></a>
                    <a href="#"><img src="./../assets/images/ic-ig.svg" alt=""></a>
                    <a href="#"><img src="./../assets/images/ic-line.svg" alt=""></a>
                    <a href="#"><img src="./../assets/images/ic-mail.svg" alt=""></a>
                </div>
                <div class="decl">
                    <a href="#">隱私權說明</a>
                    <a href="#">退款政策</a>
                    <span>© A9-team 2024 All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
