<nav class="header navbar navbar-expand-lg">
    <div class="container ">
        <a class="navbar-brand" href="index.html"><img class="hd-logo" src="./../assets/images/header-logo.svg" alt="芒果果似顏繪"></a>
        <a class="d-lg-none ms-auto" href="#"><span class=" shopping-icon material-symbols-outlined">shopping_cart</span></a>
        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="close-icon material-symbols-outlined">close</span>
        </div>

        <div class="collapse navbar-collapse myend" id="navbarText">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">客製化似顏繪</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">訂製商品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">團訂募資</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#"><span class="shopping-icon material-symbols-outlined">shopping_cart</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>