body{
  min-height: 100vh;
}
.mytop{
  margin-top: 8.5rem;
  @media (max-width: 576px) {
    margin-top: 4rem;
}
}

.linear-text{
  background: linear-gradient(0deg, $secondary, $pimary-400);
  background: -webkit-linear-gradient(0deg, $secondary, $pimary-400);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.mt-6{
  margin-top: 60px;
}

.mt-2-5{
  margin-top: 12px;
}

.bg-gray{
  background-color: $gray-100;
}

.btn-primary-300{
  background-color: $pimary-300 !important;
}

.p-12-0{
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-0-32{
  padding-left: 32px;
  padding-right: 32px;
}

.custom-btn {
  padding: 12px 32px !important; /* 上下12px，左右32px */
}



.mt-12{
  margin-top: 12px;
}

.mt-28{
  margin-top: 28px;
}

.ms-12{
  margin-left: 12px;
}

.me-108{
  margin-right: 108px;
}

.lh-20{
  line-height: 20px;
}


.product-list{
  margin-top: 60px;
  @media (max-width: 768px) {
    margin-top: 40px;
}
}

@media (max-width: 768px) {
  h3.fw-bold {
    font-size: 16px;
    font-weight: 500;
  }
}


.hr-border {
  border: none; /* 移除默認邊框 */
  height: 8px; /* 設定線條高度 */
  width: 72px;
  background-color: $pimary-300 ;/* 設定線條顏色 */
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px; /* 設定上下外邊距 */
  border-radius: 20px;  

  @media (max-width: 768px) {
  height: 4px; /* 設定線條高度 */
  width: 54px;
  margin-top: 8px; /* 設定上下外邊距 */
}
}

.product-list-item{
  margin-top: 60px;
  @media (max-width: 768px) {
    margin-top: 25px;
}
}

.product-list-img{
  max-height: 240px;
  max-width: 320px;
  @media (max-width: 768px) {
  max-height: 170px;
  max-width: 226px;
}
}


.scroll-container {
  overflow-x: auto; /* 允許橫向滾動 */
  white-space: nowrap; /* 防止內容換行 */
  -ms-overflow-style: none;  /* 針對 IE 和 Edge 隱藏滾動條 */
  scrollbar-width: none;     /* 針對 Firefox 隱藏滾動條 */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* 針對 Chrome、Safari 和 Edge 隱藏滾動條 */
}
.scroll-container .item {
  min-width: 352px; /* 設置每個項目的最小寬度 */
}


.swiper-slide{
width: 352px;

@media (max-width: 768px) {
  width: 258px;
}

}



.custom{
  background-color: white;
}

.custom-m{
  margin: 24px 36px;
}

.img-custom {
  width: 100%;
  height: auto; /* 確保圖片等比例縮放 */
}


.instructions-card{
padding-top: 36px;
padding-bottom: 36px;
}

.instructions-card-buttom{
  margin-top: 36px;
}


.painting-BG{
  background-color: $pimary-100;
  padding-top: 0px;
  padding-bottom: 0px;
  }

@media (max-width: 992px) {
.p-relative{
  position: relative;
  z-index: 10;
  bottom: 40px;
}

.painting-BG{
  padding-top: 40px;
}

.column-reverse{
  flex-direction:column-reverse;
}
}


.airpod{
  position: relative;  // 相對定位
  width: calc(100% - 52px);
  padding-bottom: calc(55.2516% - 52px);  //  55.2516%為(高/寬)得長寬比-推擠52px
  margin: 40px 0 92px;  // 40px+推擠52px
  border: 8px white solid;
  border-radius: 16px;

  @media (max-width: 992px) {
    width: calc(100% - 20px);
  padding-bottom: calc(55.2516% - 20px); 
}
}
.airpod::after{
  content: "";  // 一定要放這行,否則after無法顯示
  width: 100%;
  padding-bottom: 55.2516%; // 長寬比
  background: center / cover no-repeat url(../assets/images/Group-buying.svg);
  position: absolute;  // 絕對定位
  left: 52px;
  top: 52px;
}


.contact p{
  font-size: 20px;
  line-height: 1.5;
  @media (max-width: 992px) {
    font-size: 14px;}
}

.contact h4{
  font-size: 24px;
  line-height: 1.2;
  @media (max-width: 992px) {
    font-size: 16px;}
}

.contact-flex{
  @media (max-width: 992px) {
    flex-direction: column-reverse;
    text-align: center;
    
  }
}

.gallery-flex{
  flex-direction: row-reverse;
  @media (max-width: 992px) {
    flex-direction: column-reverse;
    justify-content: center;
    
  }
}

.contact-mr48{
margin-right: 48px;
@media (max-width: 992px) {
  margin-right: 0px;
}
}

.contact-ml48{
  margin-left: 48px;
  @media (max-width: 992px) {
    margin-left: 0px;
  }
  }
  
.contact-t{
  margin-top: 60px;
  @media (max-width: 992px) {
    margin-top: 40px;
  }
}

.contact-img-t{
  margin-top: 60px;
  margin-bottom: 40px;
  @media (max-width: 992px) {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

.contact-font-t{
  margin-top: 60px;
  @media (max-width: 992px) {
    margin-top: 24px;
  }
}


.contact-arr{
  justify-content: left;
  text-align: left;
  @media (max-width: 992px) {
    justify-content: center;
    text-align: center;
  }
}

.contact-h3{
  font-size: 28px;
  line-height: 1.2;
  @media (max-width: 992px) {
  font-size: 16px;
}}


.p-relative-buy{
  position: relative;
  z-index: 10;
  right: 24px;
}

@media (max-width: 992px) {
  .p-relative-buy{
    position: relative;
    z-index: 10;
    bottom: 94px;
    right: 0px;
  }
  
  .painting-BG{
    padding-top: 40px;
  }
  
  .column-reverse-buy{
    flex-direction:column;
  }
  }

