<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section>
      <div class="story-banner">
        <div class="container">
          <div class="banner-text story-fs-6">
            <p>透過創作，</p>
            <p>我們想將每一份想要表達的情感</p>
            <p>每一段珍貴的回憶</p>
            <p>轉化為獨一無二的藝術作品</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="story-content">
        <div class="container">
          <div class="story-content-nav">
            <a
              class="label story-fc-gray"
              href="https://c13026.github.io/A9-team/#"
              >首頁</a
            >
            <p class="story-fc-gray">/</p>
            <a class="label story-fc-primary" href="#">品牌故事</a>
          </div>
          <h2 class="story-content-title story-fz-7">品牌故事</h2>
          <div class="story-content-border"></div>
          <div class="story-content-logo"></div>
          <h1 class="story-content-desc story-fc-primary" data-aos="zoom-in">
            我們的品牌誕生於數位時代<br />最初以打造充滿創意的影音互動體驗為核心
          </h1>
          <div class="story-content-intro">
            <!-- video -->
            <div class="vertical-line d-flex"></div>
            <ul class="intro-card mb-34">
              <li class="intro-card-list card-sm-1" data-aos="fade-up-left">
                <img
                  class="card-image"
                  data-aos="fade-up-right"
                  src="./../assets/images/brand-video.svg"
                  alt="影音互動創作"
                />
              </li>
              <li class="intro-card-list card-sm-2" data-aos="fade-up-left">
                <h3 class="intro-title">
                  <img
                    class="intro-icon"
                    src="./../assets/images/favicon.ico"
                    alt="icon"
                  />影音互動創作
                </h3>
                <p class="intro-desc">
                  2020年，我們透過虛實整合的互動技術讓品牌故事不再僅僅停留在螢幕上而是能在每一個觀眾心中留下深刻的記憶。
                </p>
              </li>
            </ul>
            <!-- gift -->
            <ul class="intro-card flex-direction-row-reverse mb-34">
              <li class="intro-card-list card-sm-1">
                <img
                  class="card-image"
                  data-aos="fade-up-left"
                  src="./../assets/images/brand-gift.svg"
                  alt=""
                />
              </li>
              <li class="intro-card-list card-sm-2" data-aos="fade-up-right">
                <h3 class="intro-title">
                  <img
                    class="intro-icon"
                    src="./../assets/images/favicon.ico"
                    alt="icon"
                  />實體禮品製作
                </h3>
                <p class="intro-desc">
                  2023年，隨著市場與客戶需求的轉變，我們意識到實體禮品能更具觸感地傳遞人情溫暖與品牌價值。因此著手展開實體禮品的製作。
                </p>
                <p class="intro-desc">
                  無論是作為禮物，還是作為自我表達的載體，我們希望每一款產品都能成為陪伴每個人生的夥伴。
                </p>
              </li>
            </ul>
            <!-- myself -->
            <ul class="intro-card">
              <li class="intro-card-list card-sm-1">
                <img
                  class="card-image"
                  data-aos="fade-up-right"
                  src="./../assets/images/brand-bag.svg"
                  alt="展現自我"
                />
              </li>
              <li class="intro-card-list card-sm-2" data-aos="fade-up-left">
                <h3 class="intro-title">
                  <img
                    class="intro-icon"
                    src="./../assets/images/favicon.ico"
                    alt="icon"
                  />影音互動創作
                </h3>
                <p class="intro-desc">
                  我們追求的不只是精美的插畫擺飾，更是期望將作品成為展示個性的舞台。讓每個人都能透過獨一無二的似顏繪，賦予自己的形象獨特的風格與魅力。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="story-related">
        <div class="container">
          <h2 class="story-related-title story-fz-7">相關創作</h2>
          <div class="story-related-border"></div>
          <ul class="story-related-link">
            <li class="link-card">
              <div class="outer-frame">
                <img src="./../assets/images/related-section1.svg" alt="" />
                <div>
                  <a href="#" class="link-btn border-0">影音互動創作</a>
                </div>
              </div>
            </li>
            <li class="link-card position-relative">
              <div class="outer-frame">
                <img src="./../assets/images/related-section2.svg" alt="" />
                <div>
                  <a href="#" class="link-btn border-0">作品畫廊/合作活動</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({ duration: 400 });
    </script>
  </body>
</html>
